<h1>Login Here</h1>
<div class="container">
  <form action="/login" enctype="multipart/form-data" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Pick your username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Pick your password">

    <input type="submit" value="Submit">

  </form>
</div>