<h1>Register Here</h1>
<div class="container">
  <form action="/register" enctype="multipart/form-data" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="Pick your username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Pick your password">

    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstName" placeholder="Your First name">

    <label for="lastname">Lastname</label>
    <input type="text" id="lastname" name="lastName" placeholder="Your Last Name">

    <input type="submit" value="Submit">

  </form>
</div>