<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
    <script src="/public/scripts/validate.js"></script>
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/public/images/expressjs-card.png" alt="expressLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <div class="left"> <li><a href="/addBook">Add Book</a></li>
                    <li><a href="/viewAllBooks">View All Books</a></li>
                    </div>
                   
                    <div class="right">{{#if currentUser}}
                    <li>Hello, {{currentUser.username}}</li>
                    <li>
                        <form id="logout-form" action="/logout" method="POST"></form>
                        <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
                    </li>
                    {{else}}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                    </div>
                    
                </ul>
               
            </nav>

            {{#if globalError}}
            <div class="container"><h3>{{globalError}}</h3></div>
            {{/if}}
        </div>
    </header>
    {{{body}}}
</body>

</html>