<div class="spacer">
    <h2>{{contentToRender.title}}
      {{#if currentUser}}
        <div class="controls">
            <a href="/history?id={{contentToRender.articleId}}">[history]</a>
        </div>
      {{/if}}
    </h2>
    <article>
        <p>{{contentToRender.content}}</p>
    </article>
</div>