<h1>Here are your books</h1>
<div class="container">
  {{#each allBooks}}
  <div class="book">
    <a href="/details?id={{this._id}}">
      <img class="bookPoster" src="{{this.bookPoster}}" />
    </a>
  </div>
  {{/each}}   
  
</div>