<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    {{>menu}}
    <h1>Search Memes</h1>
    <div class="container">
        <form action="/searchMeme" enctype="multipart/form-data" method="POST">

            <label for="memeTitle">Title</label>
            <input type="text" id="memeTitle" name="memeTitle" placeholder="Meme Title">

            <select name='genreSelect' id="genreSelect">
                {{#each genres}}
                <option value="{{this.genreTitle}}">{{this.genreTitle}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">

        </form>
    </div>

</body>

</html>